body{
    overflow-y: hidden;
}
form{
    align-self: center;
    width: 22vw;
    padding: 1vw;
    display: flex;
    height: max-content;
    gap: 0.2vw;
    justify-content: center;
    flex-direction: column;
    margin: 7vw;
    border-radius: 0.7vw;
    background: var(--secondary);
}
form input{
    outline: none;
    border-radius: 0.7vw;
    border: 0;
    background: var(--primary);
    width: 20vw;
    font-family: var(--primaryfont);
    letter-spacing: 0.1vw;
    align-self: center;
    height: 2.5vw;
    font-size: 1vw;
    color: var(--secondary);
    text-decoration: none;
}
form input::placeholder{
    color: var(--secondary);
}

form label{
font-size: 1.5vw;
font-family: var(--primaryfont);
font-weight: 400;
color: var(--primary);
}
form button{
    width: 10vw;
    align-self: center;
    margin: 3vw;
    font-size: 2vw;
    border: 0;
    border-radius: 0.7vw;
    padding: 0.7vw;
    font-family: var(--primaryfont);
    background: var(--primary);
    color: var(--secondary);
}
nav a{
    font-size: 1vw;
    color: var(--primary);
    font-family: var(--primaryfont);
}
button:hover{
    cursor: pointer;
}
.error{
    gap: 0;
}
.error p{
    margin: 0.2vw;
    padding: 0;
    font-family: var(--primaryfont);
    font-size: 1vw;
    color: red;
}
:root{
    --secondary: #906570;
    --primary: #4F1B2F;
    --primaryfont: "Joan", serif; 
    --secondaryfont: "Marcellus SC", serif;
}